<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Welcome to Audio File Manager!</h1>
    <h2>Guide: </h2>
    <ul>
        <li>/list</li>
        <li>/info</li>
        <li>/download</li>
        <li>/post</li>
        <li>/delete</li>
    </ul>
    <h2>/list</h2>
    <h4>List your files. Optional filtering by duration length. </h4>
    <p>Optional keywords: maxduration, minduration</p>
    <p>e.g. http://localhost:5000/list?minduration=25&maxduration=30</p>
    <p>(command line) $ curl "http://localhost:5000/list?minduration=25&maxduration=30"</p>
    <h2>/info</h2>
    <h4>Get file metadata. If name is not passed, returns metadata for all files.</h4>
    <p>Optional keyword: name</p>
    <p>e.g. http://localhost:5000/info?name=myfile.wav</p>
    <p>(command line) $ curl "http://localhost:5000/info?name=myfile.wav"</p>
    <h2>/download</h2>
    <h4>Download a file from your user directory. </h4>
    <p>Required keyword: name</p>
    <p>e.g. http://localhost:5000/download?name=myfile2.wav</p>
    <p>(command line) $ curl "http://localhost:5000/download?name=myfile2.wav"</p>
    <h2>/post</h2>
    <h4>Add a new file to your user directory. Valid file types include: .wav, .mp3, .aiff</h4>
    <p>e.g. http://localhost:5000/post then select file</p>
    <p>(command line) $ curl -F "file=@myfile.wav" http://localhost:5000/post</p>
    <h2>/delete</h2>
    <h4>Remove a file from your directory</h4>
    <p>Required keyword: name</p>
    <p>e.g. http://localhost:5000/delete?name=myfile.wav</p>
    <p>(command line) $ curl "http://localhost:5000/delete?name=myfile.wav"</p>

</body>
</html>